target/
build/
out/

.idea/
.vscode/
*.iws
*.iml
*.ipr

.git/
.gitignore
.gitattributes

docs/
README.md

src/main/resources/application-security.properties
.env
.env.*

.DS_Store
Thumbs.db

*.log
logs/
